<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO</title>
    <link rel="stylesheet" href="../static/usuarios.css">
</head>
<body>
   <div id="form_fundo">
        <h1>DOWNLOAD</h1>
        <div id="form_frente">

            {% if arquivos %}
                <form action="/download" method="post">
                    <select name="arquivosPdownload" id="arquivosPdownload">
                        {% for documento in arquivos %}
                            <option value="{{documento}}">{{documento}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">DOWNLOAD</button>
                </form>
            {% else %}
                <h1>Sem arquivos disponiveis para download</h1>
            {% endif %}

        </div>
   </div>
</body>
</html>